.advantage {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__header {
        text-align: center;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
    }
    &__icons {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__icon {
        width: 240px;
        text-align: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        span {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
        a {
            color: #ff0000;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}