.advantage {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item {
        width: 240px;
        text-align: center;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        img {
            display: block;
            margin: 0 auto;
            width: 70px;
            height: 70px;
        }
        a {
            color: #ff0000;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin-top: 38px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
    }
    &__icon {
        &_animation {
            animation: heartbeat 1.5s ease infinite;
            /* animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite; */
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}