.feedback {
    padding-bottom: 71px;
    &__wrapper {
        display: flex;
        margin-top: 70px;
        &_main {
            margin-top: 50px;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
        margin-right: 62px;
        img {
            min-width: 100%;
        }
    }
    &__content {
        max-width: 650px;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        line-height: 17px;
    }
    &__info {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-top: 19px;
    }
    hr {
        margin-top: 48px;
        max-width: 940px;
        height: 1px;
        background-color: #f6f6f6;
    }
}